aiolimiter~=1.1.0
fastapi~=0.111.0
kani[openai,anthropic] @ git+https://github.com/zhudotexe/kani.git@main
kani-ratelimits
playwright~=1.43.0
rapidfuzz~=3.9.0
trafilatura~=1.9.0
uvicorn~=0.23.2
websockets~=11.0.3
PyMuPDF~=1.24.3
pymupdf4llm~=0.0.1

# voice
elevenlabs~=1.0.0b1
