-e .[all]

# dev
black
build
isort
hatch
twine

# docs
furo~=2024.5.6
matplotlib>=3.0.0,<4.0.0  # depended on by opengraph
myst-parser~=3.0.1
sphinx~=7.4.5
sphinxcontrib-video~=0.2.1
sphinxemoji~=0.3.1
sphinx-copybutton~=0.5.2
sphinx-inline-tabs~=2023.4.21

# ===== experiments =====
# fanoutqa
fanoutqa[all]~=1.1.0

# travelplanner
datasets~=2.20.0
pandas~=2.2.2

# webarena
# fork with a couple of fixes to the package metadata - otherwise the same as
# webarena @ git+https://github.com/web-arena-x/webarena@4c741b4b20a3e183836e58f383f9be1785248160
webarena @ git+https://github.com/zhudotexe/webarena@f63cb415dbc1f46199ebe281e07f948259a26aa9
gymnasium
playwright
Pillow
evaluate
types-tqdm
tiktoken
aiolimiter
beartype==0.12.0
flask
nltk
text-generation
openai>=1.35.2  # for disabling parallel_tool_calls
