-e .[all]

kani[openai,anthropic] @ git+https://github.com/zhudotexe/kani.git@main

# fanoutqa
fanoutqa[all]~=1.1.0

# travelplanner
datasets~=2.20.0
pandas~=2.2.2

# webarena
webarena @ git+https://github.com/web-arena-x/webarena@4c741b4b20a3e183836e58f383f9be1785248160
gymnasium
playwright
Pillow
evaluate
types-tqdm
tiktoken
aiolimiter
beartype==0.12.0
flask
nltk
text-generation
openai>=1.35.2  # for disabling parallel_tool_calls
