@charset "utf-8";

// site fonts
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:400,700");

// site colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$lime: #c9f4c8;
$cucumber: #84a456;
$green-dark: #324744;
$grey-green: #59686c;

// Bulma global variables
$family-sans-serif: "Zilla Slab", sans-serif;

$grey-dark: $green-dark;
$grey: $grey-green;
$grey-light: $beige-light;

$primary: $grey-green;
$link: $purple;
$info: $lime;

// Bulma component variables
$body-background-color: $beige-lighter;

// the rest
@import "../node_modules/bulma/bulma.sass";

// ==== custom ====
// svg color transforms - calculated with https://codepen.io/sosuke/pen/Pjoqqp
.svg-grey-dark {
  filter: brightness(0) saturate(100%) invert(25%) sepia(8%) saturate(1127%) hue-rotate(122deg) brightness(96%) contrast(94%);
}

// style horizontal rules to look better
hr {
  background-color: $beige-light;
}
